{% macro load_task(tasks) %}
<div class="tasks">
  {% for task in tasks %}
    <div class="task" id="{{ task.id }}">
      <p>
        <input id="task-{{ task.id }}" type="checkbox" name="iscompleted" class="iscompleted" 
        {% if task.is_completed %}
          checked
        {% endif %}
      >
      </p>
      <div>
        <div>
          <p class="time">{{ task.due_date }}</p>
          <div>
            <img src="{{ url_for('static',filename='imgs/eye.svg')}}" alt="view-logo" class="view view-logo" id="view-{{task.id}}">
            <img src="{{ url_for('static',filename='imgs/edit-logo.svg') }}" alt="edit-logo" class="edit edit-logo" id="edit-{{task.id}}">
          </div>
        </div>
        <div>
          <p class="task-name">
            {{ task.title }}
          </p>
          <img src="{{ url_for('static',filename='imgs/remove-logo.svg') }}" alt="remove-logo" class="logo remove-logo" id="delete-{{task.id}}">
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endmacro %}


{% macro add_new_task() %}
<div class="new-task-form-div"  style="display: none;">
<form class="new-task-form" action="/add" method="post">
<h3>Add new Task</h3>

  <label for="title">Title</label>
  <input type="text" name="title" id="title" placeholder="Title" required>
  <label for="description">Description</label>
  <textarea name="description" id="description" cols="30" rows="10" placeholder="Description" required></textarea>
  <label for="date">Date</label>
  <input type="date" name="date" id="date">
  <div class="buttons">
    <button>Submit</button>
    <button class="cancel">cancel</button>
  </div>
</form>
</div>
{% endmacro %}


{% macro edit_task() %}
<div class="edit-task-form-div"  style="display: none;">
  <form class="edit-task-form" action="/update" method="post">
  <h3>Edit Task</h3>
  
    <label for="title">Title</label>
    <input type="text" name="title" id="edit-title" placeholder="Title" required>
    <label for="description">Description</label>
    <textarea name="description" id="edit-description" cols="30" rows="10" placeholder="Description" required></textarea>
    <label for="date">Date</label>
    <input type="date" name="date" id="edit-date">
    <div class="buttons">
      <button>Update</button>
      <button class="cancel">cancel</button>
    </div>
  </form>
  </div></div>  
{% endmacro %}



{% macro view_task() %}
<div class="view-task-div-div"  style="display: none;">
  <div class="view-task-div" action="/update" method="post">
  <h3>View Task</h3>
  
    <label for="title">Title</label>
    <p id="view-title"></p>
    <label for="description">Description</label>
    <p id="view-description"></p>
    <label for="date">Date</label>
    <p id="view-date"></p>
    <div class="buttons">
      <button class="cancel">cancel</button>
    </div>
  </div>
  </div></div>  
{% endmacro %}